*{
  font-family: 'Rubik', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
  text-transform: capitalize;
}
.navbar-brand li span {
  font-size: 30px;
}

.input_naw {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 50px;
}
::placeholder {
  color: aliceblue;
  margin-left: 50px;
}
.navbar {
  margin-top: -5px;
  width: 1472px;
}

.c_div {
  margin-top:-10px;
  background-color: blue;
  height: 430px;
  display: inline-block;
  width: 1472px;
}

.c_div p {
  margin-top: 5px;
  margin-left: 100px;
  color: rgb(255, 255, 255);
}
.c_div h1 {
  margin-top: 100px;
  margin-left: 100px;
  color: aliceblue;
}

/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 40px;
  width: 180px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
  margin-left: 100px;
}

.btn-txt {
  z-index: 1;
  font-size: 20px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.1s ease-in-out;
  background-color: #ffffff;
  border-radius: 30px;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  border: none;
}


.mmm {
  background-color: rgb(255, 255, 255);
  height: 90px;
  box-shadow: 1px 1px 1px rgb(151, 151, 151);
}

.mmm img {
  margin-left: 120px;
  border-radius: 50px;
  margin-top: 10px;
}

.mmm a {
  text-decoration: none;
  margin-left: 5px;
}

.mmm a:hover {
  text-decoration: underline;
}

.mmm p {
  margin-left: 180px;
  margin-top: -20px;
}

.free {
  margin-left: 330px;
  margin-top: -55px;
}

.free p {
  margin-left: 40px;
  font-size: 20px;
  margin-top: -29px;
}

.fre {
  margin-left: 470px;
  margin-top: -42px;
}

.star {
  color: yellow;
  margin-left: 1300px;
  font-size: 21px;
  margin-top: -43px;
}

.green {
  margin-left: 190px;
  margin-top: 100px;
}

.bat select option {
  width: 400px;
}


.c_div{
  width: 100%;
  height: 420px;
}
.c_angular{
  width: 60%;
  height: 250px;
  margin-left: 100px;   
  margin-top: 100px;
   
}
.c_but_trailer{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.avatar{
  display: flex;
  justify-content: space-between;
}
.text_c{
  margin-left: 10px;
}
.icon_c li{
  display: inline-block;
  margin: -50px 20px 0 0 ;
}
.icon_c {
  margin-left: 200px;
  margin-top: -40px;
}
.user_c{
  background-color: rgb(255, 255, 255);
  height: 80px;
  margin-top: 20px;
  border-bottom:  0.5px solid rgb(175, 175, 175);
}
.icon_c p{
  font-size: 20px;
}
.video_div{
  width: 100%;
  height: 600px;
  
}
.drop_down{
  width:100%;
  border: none;
  background-color: white;
  color: black;
  border-bottom: 0.2x solid gainsboro;
  border-radius: 0;
}
.drop_down:hover{
  border: none;
  outline: none;
  background-color: white;
}
.in_drop_item{
  display: flex;
  justify-content: space-between;
}

.mars b {
  margin-left: 100px;
  font-size: 30px;
  color: #000000;
}
.mars p {
  margin-left: 100px;
  margin-top: 10px;
}

.mars1 {
  font-size: 20px;
  margin-left: 780px;
  margin-top: -125px;
}
.mey {
  margin-left: 800px;
  margin-top: -118px;
}

.mey1 {
  margin-left: 130px;
  margin-top: 150px;
}

.mey1 p {
  font-family: monospace;
}

.mey2 {
  margin-left: 430px;
  margin-top: -230px;
}
.mey2 p {
  font-family: monospace;
}

.mey3 {
  margin-left: 730px;
  margin-top: -230px;
}
.icon {
  margin-top: -230px;
}

.icon p {
  margin-left: 980px;
}

.cal {
  background-color: #475e84;
  height: 130px;
  margin-top: 150px;
}

.cal h3 {
  margin-top: 40px;
}
.cla1 img {
  margin-top: -40px;
}

.cal1 select {
  margin-top: -60px;
}